<section class="payment-services" id="payment-services-host">
  <div class="gl__page-content">
    <h2 class="gl__title">Оплата услуг</h2>

    <div class="payment-services__content">
      {{#each payment-services }}
        <div class="payment-services__item gl__white-container">
          <div class="payment-services__item-title">
            {{ this.title }}
          </div>
          <div class="payment-services__item-subtitle">
            {{ this.subtitle }}
          </div>

          <form data-need-validation data-parsley-validate data-parsley-focus="none"
                {{#if typeModal }}data-modal-type="{{ typeModal }}"{{/if}}
                class="payment-services__form js-form-pre-modal-top-up-account">
            <div class="payment-services__form-inputs-wrapper">
              {{#each inputsList }}
                {{#if isTel }}
                  {{> common/controls/input-main
                    required=true
                    type="tel"
                    phoneMask=true
                    inputTitle=this.title
                    placeholder="+7 (___) ___-__-__"
                    name="payment-tel"
                  }}
                {{/if}}

                {{#if isSum }}
                  {{> common/controls/input-main
                    required=true
                    type="number"
                    minNumber="10"
                    maxNumber="30000"
                    inputTitle=this.title
                    placeholder="Сумма"
                    name="payment-sum"
                  }}
                {{/if}}

                {{#if isEmail }}
                  {{> common/controls/input-main
                    required=true
                    inputTitle=this.title
                    type="email"
                    placeholder=this.title
                    name="payment-email"
                  }}
                {{/if}}
                
                {{#if isAccountNumber }}
                  {{> common/controls/input-main
                    required=true
                    type="number"
                    inputTitle=this.title
                    minLength=20
                    maxLength=20
                    placeholder="Номер лицевого счета"
                    name="payment-personal-account"
                    numberNoArrows=true
                  }}
                {{/if}}
              {{/each}}
            </div>

            <div>
              <div class="payment-services__form-btn-wrapper">
                <button type="submit" class="payment-services__form-btn gl__main-btn js-open-top-up-account-modal">
                  Продолжить
                </button>
                {{#if this.warning }}
                  <div class="_warnming">
                    {{this.warning }}
                  </div>
                {{/if}}
              </div>

              <div class="payment-services__form-hint-wrapper">
                <div class="payment-services__form-hint-text">
                  Нажимая кнопку «Продолжить», вы принимаете условия пользовательского соглашения.
                </div>
                {{#if isCards }}
                  <div class="payment-services__form-hint-icons-wrapper">
                    <a class="payment-services__form-hint-icon" href="/">
                      <img src="img/common/pay/mastercard.svg" alt="">
                    </a>
                    <a class="payment-services__form-hint-icon" href="/">
                      <img src="img/common/pay/mir.svg" alt="">
                    </a>
                    <a class="payment-services__form-hint-icon" href="/">
                      <img src="img/common/pay/visa.svg" alt="">
                    </a>
                    <a class="payment-services__form-hint-icon" href="/">
                      <img src="img/common/pay/uniteller.svg" alt="">
                    </a>
                  </div>

                {{ else }}
                  <button type="button" class="payment-services__form-link">
                    Подробнее об услуге
                  </button>
                {{/if}}
              </div>
            </div>
          </form>
        </div>
      {{/each}}
    </div>
  </div>
</section>
