<section class="catalog" id="catalog-host">
  <div class="gl__page-content">
    <h2 class="gl__title">Каталог товаров</h2>

    <div class="catalog__content">
      <div class="catalog__form-container gl__filter-container js-filter-container">
        <form class="catalog__form gl__filter js-modal-container">
          <button type="button" class="gl__bg-show gl__filter-modal-close modal__btn-close js-filter-close" id="close-thanks-modal">
            <svg width="32" height="32" aria-hidden="true" class="modal__close-icon">
              <use xlink:href="#close"></use>
            </svg>
          </button>

          <ul class="catalog__filter-list">
            {{#each filters }}
              <li class="catalog__filter-item">
                <button type="button"
                        class="catalog__filter-title-wrapper gl__drop-menu-btn js-drop-menu-btn js-drop-menu-leave-open">
            <span class="catalog__filter-title">
              {{ this.title }}
              {{#if titleHint }}
                <span class="hint">
                  {{ titleHint }}
                </span>
              {{/if}}
            </span>
                  <svg width="24" height="24" aria-hidden="true" class="gl__drop-menu-icon">
                    <use xlink:href="#arrow-down"></use>
                  </svg>
                </button>

                <div class="gl__drop-menu-container js-drop-menu-container">
                  <div class="catalog__filter-item-content gl__drop-menu js-drop-menu">
                    {{#if isSlider }}
                      {{> common/controls/filter-uislider
                        name=this.inputName
                        from=this.from
                        to=this.to
                        placeholderFrom=this.placeholderFrom
                        placeholdeTo=this.placeholdeTo }}

                    {{ else if isCheckboxList }}
                      {{#each this.checkboxList }}
                        {{> common/controls/input-checkbox caption=this.caption name=this.inputName isFilter=true }}
                      {{/each}}
                    {{/if}}
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>

          <button type="submit" class="catalog__form-btn gl__main-btn">
            подобрать
          </button>

          <button type="button" class="catalog__form-btn gl__main-btn mod-grey">
            Сбросить фильтр
          </button>
        </form>
      </div>

      <div class="gl__bg-show">
        {{> common/btn-settings text="Фильтровать" iconIsRight=true }}
      </div>

      <div class="catalog__products-container">
        <ul class="catalog__products-list">
          {{#each products }}
            <li class="product-item">
              {{#if isNew}}
                <div class="product-item__mark">
                  <div class="product-item__mark-content mod-new">
                    Новинка
                  </div>
                </div>
              {{/if}}
              <div class="product-item__image-wrapper">
                <img src="{{ this.img }}" alt="" class="product-item__image">
              </div>
              <div>
                <div class="product-item__price">
                  <span class="number">{{ this.price }}</span> ₽
                </div>
                <div class="product-item__name-wrapper">
                  {{#if isInstallments }}
                    <div class="product-item__installments">Доступно в рассрочку</div>
                  {{/if}}
                  <div class="product-item__name">
                    {{ this.name }}
                  </div>
                </div>
              </div>

              <div class="product-item__btn-wrapper">
                <button type="button" class="product-item__btn gl__main-btn">Заказать</button>
                <button type="button" class="product-item__btn gl__secondary-btn gl__sm-hide">Подробнее</button>
              </div>
            </li>
          {{/each}}
        </ul>

        <div class="catalog__products-pagination-wrapper">
          <div class="gl__sm-hide">
            {{> common/pagination-page pageNumbers=pageNumbers }}
          </div>
          <button type="button" class="catalog__products-pagination-btn gl__main-btn gl__sm-show">
            Загрузить еще
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
