<!--
  __Обязательные поля__
  name - input name
  options - опции

  __Необязательные поля__
  selectTitle - заголовок
  required - обязательно для заполнения
  placeholder
  isSearch - дизайн с лупой
  isSmallChoicesList - укороченный список options
-->
{{#each selects }}
  <div class="select">
    {{#if selectTitle}}
      <span class="gl-input__title {{#if isWhiteTitle}}mod-white{{/if}}">{{ selectTitle }}</span>
    {{/if}}

    <div class="select__container" id="{{ this.name }}">
      <label class="select__wrapper {{#if isSearch}}mod-city{{/if}} {{#if isSmallChoicesList }}mod-small-choices-list{{/if}}">
        {{#if this.required }}
          <span class="gl__input-mark-required"></span>
        {{/if}}
        <select class="gl__select js-custom-select"
                data-parsley-class-handler="#{{ this.name }}"
                name="{{ this.name }}"
          {{#if this.required }}
                data-parsley-required="" data-parsley-trigger="change"
          {{/if}}
        >
          {{#if this.placeholder }}
            <option placeholder value="">{{ this.placeholder }}</option>
          {{/if}}
          {{#each options}}
            {{#if this }}
              <option value="{{ this }}">{{ this }}</option>{{/if}}
          {{/each}}
        </select>
      </label>

      {{#if isSearch}}
        <svg width="16" height="16" aria-hidden="true" class="select__search-icon">
          <use xlink:href="#search"></use>
        </svg>
      {{/if}}
    </div>
  </div>
{{/each}}
