<div class="tatt-table-list__lg-container gl__filter-container--lg js-filter-container">
    <ul class="tatt-table-list mod-suppliers gl__filter--lg js-modal-container">
        <button type="button" class="gl__lg-show gl__filter-modal-close modal__btn-close js-filter-close" id="close-thanks-modal">
            <svg width="32" height="32" aria-hidden="true" class="modal__close-icon">
            <use xlink:href="#close"></use>
            </svg>
        </button>
        {{#each tatt-table-list }}
            {{#if isSubmenu }}
                <li class="tatt-table-list__item {{#if isCurrent }}_is-current{{/if}}">
                    <button class="tatt-table-list__item-link {{#if isCurrent }}_is-current{{/if}} gl__drop-menu-btn js-drop-menu-btn js-drop-menu-leave-open" {{#if isDropOpen }}data-drop-menu-open{{/if}}>
                        {{ this.link-name }}
                        <svg width="24" height="24" aria-hidden="true" class="gl__drop-menu-icon">
                            <use xlink:href="#arrow-down"></use>
                        </svg>
                    </button>
                    <div class="tatt-table-list__submenu-drop-container gl__drop-menu-container js-drop-menu-container">
                        <ul class="tatt-table-list__submenu gl__drop-menu js-drop-menu">
                            {{#each this.submenu }}
                                <li class="tatt-table-list__submenu-item">
                                    <a href="{{ this.submenu-link }}" class="tatt-table-list__submenu-link {{#if isCurrent }}_is-current{{/if}}">
                                        {{ this.submenu-link-name }}
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </li>
                {{else }}
                <li class="tatt-table-list__item">
                    <a href="{{ this.link }}" class="tatt-table-list__item-link {{#if isActive }}_is-active{{/if}}">
                        {{ this.link-name }}
                    </a>
                </li>
            {{/if}}
        {{/each}}
    </ul>
</div>
