<!--
"advantages-opportunities": {
    "titleComponent": "Преимущества и возможности",
    "sliderNum": "количество слайдов в превью",
    "items": [
      {
        "title": "Комплекс услуг от одного оператора",
        "narrowHeader": true, - если нужна узкая шапка
        "lightHeader": true, - если нужная светлая шапка (светло-голубой)
        "img": "img/b-single-business/complex.svg",
        "numHeader": "1", - вместо изображения цифра
        "noImage": true, - если нет изображения и нужны отступы больше

            // если обычный текст
        "text": "Один договор на все услуги связи и единый лицевой счет"
            // если список с галочками
        "list": [
          "элемент 1",
          "элемент 2"
        ]
      }
}
-->

<section class="b-advantages-opportunities" id="b-advantages-opportunities-host">
  <div class="gl__page-content">
    <h2 class="gl__title">
      {{ advantages-opportunities.titleComponent }}
    </h2>

    <div class="gl-slider js-swiper" data-swiper-slides-preview="{{ advantages-opportunities.sliderNum }}">
      {{> common/controls/b-btns-slider }}
      <div class="gl-slider__b-container gl-slider__container swiper-container js-swiper-container">
        <div class="gl-slider__wrapper swiper-wrapper">
          {{#each advantages-opportunities.items }}
            <div class="b-advantages-opportunities__slide swiper-slide">
              <div class="b-advantages-opportunities__slide-header {{#if this.narrowHeader}}mod-narrow{{/if}} {{#if
                this.lightHeader}}mod-light{{/if}}">
                {{#if this.img }}
                  <img src="{{ this.img }}" alt="" class="b-advantages-opportunities__slide-img">
                {{/if}}
                {{#if this.numHeader }}
                  <div class="b-advantages-opportunities__slide-num">
                    {{ this.numHeader }}
                  </div>
                {{/if}}
                <div class="b-advantages-opportunities__slide-title {{#if
                  noImage }}b-advantages-opportunities__no-image-content{{/if}}">
                  {{ this.title }}
                </div>
              </div>
              <div class="b-advantages-opportunities__slide-content {{#if
                noImage }}b-advantages-opportunities__no-image-content{{/if}}">
                {{#if this.text }}
                  {{{ this.text }}}
                {{/if}}
                {{#if this.list }}
                  <ul class="b-advantages-opportunities__slide-list">
                    {{#each this.list }}
                      <li class="b-advantages-opportunities__slide-item">
                        <svg width="20" height="16" aria-hidden="true"
                             class="b-advantages-opportunities__slide-item-icon">
                          <use xlink:href="#checkbox-checked"></use>
                        </svg>
                        {{ this }}
                      </li>
                    {{/each}}
                  </ul>
                {{/if}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>
