{{!-- Секция с баннеров в начале страницы с услугой --}}
{{!-- Шаблон данных: --}}
{{!-- "banner": {
  "accentTitle": "Корпоративная",
  "title": "мобильная связь",
  "cost": 150,
  "label": "Переходи на Летай за 0 руб",
  "image": "b-rates-mobile-list.jpg",
  "mobile": {
    "title": "Тарифы <br /> мобильной <br /> связи",
    "image": "b-rates-mobile-list--mobile.jpg"
  }
} --}}

<section class="b-page-banner {{#if banner.mobile}}mobile-version-available{{/if}} {{ banner.additionalClass }}">
  <div class="gl__page-content">
    <h2 class="gl__title">{{title}}</h2>

    {{!-- КОСТЫЛЬ --}}
    {{!-- Табы над баннером, есть на странице Роуминг --}}
    {{!-- Стили в конце файла b-page-banner.scss --}}
    {{#if banner.tabs }}
      <ul class="b-page-banner__tabs">
        {{#each banner.tabs }}
          <li class="b-page-banner__tab">
            <a class="b-page-banner__tab-link {{#if this.active}}active{{/if}}" href="#">{{this.name}}</a>
          </li>
        {{/each}}
      </ul>
    {{/if}}
    {{!-- /КОСТЫЛЬ --}}

    {{!-- Если заголовка нет, баннер вообще не выводим - КОСТЫЛЬ! --}}
    {{#if banner.title}}
      <div class="b-page-banner__content">
        <picture>
          {{#if banner.mobile.image}}
            <source srcset="img/common/b-page-banners/{{banner.mobile.image}}" media="(max-width: 559px)">
          {{/if}}

          <img class="b-page-banner__image" src="img/common/b-page-banners/{{banner.image}}" alt="{{title}}">
        </picture>
        <div class="b-page-banner__text">
          <div>
            <h3 class="b-page-banner__title {{banner.title.colorClass}}">
              {{#if banner.mobile.title}}
                <span class="b-page-banner__mobile-title">{{{banner.mobile.title}}}</span>
              {{/if}}
              {{#if banner.mobile.label}}
                <span class="b-page-banner__mobile-label">{{{banner.mobile.label}}}</span>
              {{/if}}
              {{#if banner.title.accentText }}
                <span class="b-page-banner__accent-title">{{{banner.title.accentText}}}</span>
              {{/if}}
              <span class="b-page-banner__desktop-title">{{{banner.title.text}}}</span>
            </h3>
            {{#if banner.subtitle}}
              <p class="b-page-banner__subtitle {{banner.subtitle.colorClass}}">{{banner.subtitle.text}}</p>
            {{/if}}
            {{#if banner.largeSubtitle }}
              <p
                class="b-page-banner__large-subtitle {{banner.largeSubtitle.colorClass}}">{{{banner.largeSubtitle.text}}}</p>
            {{/if}}
          </div>
          {{#if banner.cost }}
            <div class="b-page-banner__cost-block {{#if banner.isConstantlyConst }}no-hide-mobile{{/if}}">
              <span class="b-page-banner__cost-label">от</span>
              <div class="b-page-banner__cost-bottom">
                <span class="b-page-banner__cost">{{banner.cost}}</span>
                <span class="b-page-banner__cost-label">₽/мес.</span>
              </div>
            </div>
          {{/if}}
          {{#if banner.label }}
            <span class="b-page-banner__label">{{banner.label}}</span>
          {{/if}}
          {{#if banner.btns }}
            <div class="b-page-banner__btns-container">
              {{#each banner.btns}}
                <a href="" class="gl__main-btn mod-b-transparent {{this.classMod}}">{{this.text}}</a>
              {{/each}}
            </div>
          {{/if}}
        </div>
        {{/if}}
        {{#if banner.label }}
        <span class="b-page-banner__label {{banner.title.colorClass}}">{{{banner.label}}}</span>
        {{/if}}
        {{#if banner.btns }}
        <div class="b-page-banner__btns-container">
          {{#each banner.btns}}
          <a href="" class="gl__main-btn mod-b-transparent {{this.classMod}}">{{this.text}}</a>
          {{/each}}
        </div>
        {{/if}}
      </div>
    {{/if }}
  </div>
</section>
