<!--
 "bannerGradient": {
    "title": "Оффер",
    "additionalClass": "b-video-conferencing"
    "btns": [
      {
        "text": "Оставить заявку на подключение"
      }
    ],
    "links": [
      {
        "text": "Скачать презентацию",
        "isDownload": true
      }
    ]
  }
-->

<section class="b-page-banner {{ bannerGradient.additionalClass }}">
  <div class="gl__page-content">
    <h2 class="gl__title">{{title}}</h2>

    <div class="b-page-banner__content">
      <div class="b-page-banner__background"></div>
      <div class="b-page-banner__text">
        <div>
          <h3 class="b-page-banner__title white">
            <span class="b-page-banner__accent-title">
              {{ bannerGradient.title }}
            </span>
          </h3>
        </div>
        <div class="b-page-banner__btns-container">
          {{#each bannerGradient.btns }}
            <button type="button" class="b-page-banner__btn gl__main-btn mod-b-transparent-white-business">
              {{ this.text }}
            </button>
          {{/each}}
          {{#each bannerGradient.links }}
            <a href="" {{#if isDownload }}download=""{{/if}}
               class="b-page-banner__btn gl__main-btn mod-b-transparent-white-business">
              {{ this.text }}
            </a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>
