<div class="menu-tabs__radio-btns-container {{#if type2}}mod-type-2{{/if}}">
  {{#if item1 }}
    <label class="menu-tabs__radio-wrapper">
      <input type="radio" class="menu-tabs__radio" name="{{ name }}" checked>
      <span class="menu-tabs__radio-content">{{ item1 }}</span>
    </label>
  {{/if}}
  {{#if item2 }}
    <label class="menu-tabs__radio-wrapper">
      <input type="radio" class="menu-tabs__radio" name="{{ name }}" checked>
      <span class="menu-tabs__radio-content">{{ item2 }}</span>
    </label>
  {{/if}}
  {{#if item3 }}
    <label class="menu-tabs__radio-wrapper">
      <input type="radio" class="menu-tabs__radio" name="{{ name }}" checked>
      <span class="menu-tabs__radio-content">{{ item3 }}</span>
    </label>
  {{/if}}
</div>
