{{#each rates-preview }}
  <section class="rates-preview mod-{{ this.pageName }}"
           {{#if this.imgBackgroundDesk}}style="background-image: url({{ imgBackgroundDesk }})"{{/if}}
           id="rates-preview-host">

    <div class="gl__page-content rates-preview__content-wrapper">
      <div class="rates-preview__content {{#if this.isWhiteBackground}}mod-white-background{{/if}}">
        {{#if this.ratesSecondName}}
          <div class="rates-preview__content-title">{{ this.ratesSecondName }}</div>
        {{/if}}
        <div class="rates-preview__content-subtitle">{{ this.ratesName }}</div>
        <div class="rates-preview__content-caption-wrapper">
          {{#each this.ratesCaption }}
            <div class="rates-preview__content-caption">{{ this }}</div>
          {{/each}}
        </div>
        <button type="button" class="gl__main-btn rates-preview__btn js-open-send-request-modal"
                data-tariff-name="Заявка на кешбек">
          {{ this.btnText }}
        </button>
      </div>

      <div class="rates-preview__img-wrapper">
        {{#if this.imgMobile}}
          <img src="{{ this.img }}" alt="" class="rates-preview__img gl__xxs-hide">
          <img src="{{ this.imgMobile }}" alt="" class="rates-preview__img gl__xxs-show">
        {{else if this.imgTablet}}
          <img src="{{ this.img }}" alt="" class="rates-preview__img gl__sm-hide">
          <img src="{{ this.imgTablet }}" alt="" class="rates-preview__img gl__sm-show">
        {{else}}
          <img src="{{ this.img }}" alt="" class="rates-preview__img">
        {{/if}}
      </div>
    </div>
  </section>
{{/each}}
