<section class="b-city-rates">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Тарифы
    </h2>

    <div class="js-menu-tabs-container">
      <div class="b-city-rates__radio-btns-container">
        {{#each cityRatesTabs }}
          <label class="b-city-rates__radio-wrapper">
            <input type="radio" class="b-city-rates__tab js-menu-tab" name="{{ this.name }}"
                   {{#if this.isChecked}}checked{{/if}} value="{{ this.value }}">
            <span class="b-city-rates__tab-content">{{ this.itemName }}</span>
          </label>
        {{/each}}
      </div>

      {{#each cityRatesContentsList }}
        <div class="js-menu-tab-content gl__menu-tab-content" data-menu="{{ this.type }}">
            <div class="b-city-rates__content">
              <div class="b-city-rates__content-text">
                {{ this.text }}
              </div>
              <div class="b-city-rates__content__price">
                {{ this.price }}
              </div>
            </div>

            <div class="gl__b-hint-nds">
              Тарифы указаны с учетом НДС
            </div>
          </div>
      {{/each}}
    </div>
  </div>
</section>
