<section class="b-low-slider gl__section" id="b-low-slider-host">
  <div class="gl__page-content">
    <h2 class="gl__title">
      {{ this.sectionTitle }}
    </h2>

  <div class="gl-slider js-swiper" data-swiper-slides-preview="4" data-swiper-gap="20">
    {{> common/controls/b-btns-slider }}
      <div class="gl-slider__b-container gl-slider__container swiper-container js-swiper-container">
        <div class="gl-slider__wrapper swiper-wrapper">
          {{#each slidesList}}
            <a class="b-low-slider__slide swiper-slide">
              <div class="b-low-slider__slide-content {{#if isTopSubtitle }}mod-top-subtitle{{/if}}">
                <img src="{{ this.img }}" alt="" class="b-low-slider__background">
                <div class="b-low-slider__title {{#if isWhiteTitle }}mod-white{{/if}}">
                  {{ this.title }}
                </div>
                {{#if this.subtitle }}
                  <div class="b-low-slider__subtitle {{#if isWhiteSubtitle }}mod-white{{/if}}">
                    {{ this.subtitle }}
                  </div>
                {{/if}}
              </div>

              {{#if subtitlePrice }}
                <div class="b-low-slider__price-subtitle">
                  от <span class="number">{{ this.subtitlePrice }}</span>₽/мес
                </div>
              {{/if}}
            </a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>
