<li class=" {{#if isSlider }}swiper-slide{{/if}} ">
  <div href="/rates-mobile-item.html" class="gl__no-default-hover rates-list__slide gl__white-container {{#if this.isHit }}rates-list__slide-hit{{/if}}">
    {{#if this.isHit }}
      <img src="img/main-page/rates-list/hit-background.svg" alt="" class="rates-list__slide-hit-background">
      <img src="img/main-page/rates-list/hit-mark.svg" alt="" class="rates-list__slide-hit-mark">
    {{/if}}
    <div class="rates-list__slide-content">
      <div class="rates-list__slide-up">
        <div class="rates-list__slide-title">{{ this.title }}</div>
        <div class="rates-list__slide-subtitle">{{ this.subtitle }}</div>

        <ul class="rates-list__slide-conditions-list">
          {{#if this.unlimited }}
            <li class="rates-list__slide-condition-item">
              <img src="img/main-page/rates-list/unlimited.svg" alt=""
                   class="rates-list__slide-condition-item-icon">
              <div class="rates-list__slide-condition-item-text">Безлимитный интернет</div>
            </li>
          {{/if}}
          {{#each calls}}
            <li class="rates-list__slide-condition-item">
              <img src="img/main-page/rates-list/phone-1.svg" alt=""
                   class="rates-list__slide-condition-item-icon">
              <div class="rates-list__slide-condition-item-text">{{ this }}</div>
            </li>
          {{/each}}
        </ul>
      </div>

      <div class="rates-list__slide-down">
        {{#if this.opportunities }}
          <div class="rates-list__opportunities-wrapper">
            <div class="rates-list__opportunities-title">Возможности</div>

            <div class="rates-list__opportunities-text">{{ this.opportunities }}</div>
          </div>
        {{/if}}

        <div class="rates-list__slide-price-wrapper">
          <div class="rates-list__slide-price">
            <span class="big">{{ this.price }}</span><span class="small">₽/мес</span>
            <del>345 ₽/мес</del>
          </div>
        </div>

        <div class="rates-list__slide-btns-wrapper">
          <a href="/" type="button"
                  data-tariff-name="{{ this.title }}"
                  data-prise="{{ this.price }}"
                  class="rates-list__slide-btn-plug gl__main-btn js-open-send-request-modal">
            Подключить
          </a>
          <div class="rates-list__slide-link-detailed-wrapper">
            <a href="/" class="gl__secondary-btn  {{#if this.isHit }}mod-white{{/if}}">
              Подробнее о тарифе
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
